@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HrKyrgyzstan.Models.EditUserViewModel

@{
}
<body class="page-no-footer">
    <main>
        <div class="py-5 text-center">
            <h2>Custom User</h2>
        </div>
        <div class="text-center">
            <p>
                Notice,that if the user's personal data is changed to something humorous/offensive, he/she may become very offended :)
            </p>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8 fieldUser">

                @using (Html.BeginForm("OnPost", "User"))
                {
                    @Html.HiddenFor(h => @Model.User.Id);
                    <div class="row g-3 editUserCol">
                        <div class="col-sm-6">
                            <label asp-for="@Model.User.FirstName" class="form-label text-white">FirstName</label>
                            <input asp-for="@Model.User.FirstName" class="form-control fieldPriv" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="@Model.User.FirstName" class="text-danger">
                            </span>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="@Model.User.LastName" class="form-label text-white">LastName</label>
                            <input asp-for="@Model.User.LastName" class="form-control fieldPriv" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="@Model.User.LastName" class="text-danger">
                            </span>
                        </div>

                        <div class="col-12">
                            <label asp-for="@Model.User.Email" class="form-label text-white">Email</label>
                            <div class="input-group has-validation">
                                <input asp-for="@Model.User.Email" class="form-control fieldPriv" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="@Model.User.Email" class="text-danger">
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3 text-white">Roles</h4>

                    <div class="my-3">

                        @for (int i = 0; i < @Model.Roles.Count(); i++)
                        {
                            <div class="form-check text-white">
                                @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                                @Html.HiddenFor(h => @Model.Roles[i].Value)

                                @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                                @Html.HiddenFor(h => @Model.Roles[i].Text)
                            </div>
                        }
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg privacyBtn" type="submit">Save User</button>
                }
            </div>
        </div>
    </main>
</body>


