@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Users";
}
@model ICollection<HrKyrgyzstan.Areas.Identity.Data.CreatedUser>

<body class="users-bg page-no-footer">
    <div class="text-center">
        <div class="user-box">
            <h1 class="display-4">Users</h1>
            @if (@Model != null && @Model.Any())
            {
                    <table class="table">
                        <thead>
                            <tr>
                                <!--<th scope="col">#</th>-->
                                <th scope="col">FirstName</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Email</th>
                            @if (User.IsInRole("Administrator"))
                            {
                                    <th scope="col">Customize</th>
                            }
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model)
                        {
                                    <tr>
                                        <!--<th scope="row">@user.Id</th>-->
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.Email</td>
                                @if (User.IsInRole("Administrator"))
                                {
                                                <td>
                                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Change</a>
                                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete </a>
                                                </td>
                                }
                                    </tr>
                        }
                        </tbody>
                    </table>
            }
        </div>
    </div>

    <div class="text-center">
    </div>
</body>