@model HrKyrgyzstan.Entities.Company

@{
    ViewData["Title"] = "Company";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Company</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AboutUs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AboutUs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FeedBack)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FeedBack)
            </dd>
        </dl>
    </div>
    <div>
        @if (User.IsInRole("Companion") || User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
